extends Layout/main

block content
    .form_container 
        form(action=`${routes.users}${routes.changePassword}`,method='post')
            input(type='password', placeholder='oldPassword',name='oldPassword',required=true)
            input(type='password', placeholder='newPassword',name='newPassword',required=true)
            input(type='password', placeholder='newPassword1',name='newPassword1',required=true)
            a.form_conttainer_link(href=`${routes.users}${routes.changePassword}`) 
                button Change Password